body {
    background-color: #34495e;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    margin: 8px;
    overflow: hidden;
  }
  
 .currency-converter-container {
    background-color: #34495e;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 24px;
    margin-top: 18px;
  }

.currency-from-container {
    display: flex;
    justify-content: space-evenly;
    width: inherit;
    padding-bottom: 16px;
}

.currency-to-container {
    display: flex;
    justify-content: space-evenly;
    width: inherit;
}

.currency-from-amount-container {
    display: flex;
    justify-content: space-around;
}

.currency-from-amount-input {
    height: 24px;
    width: 120px;
    font-size: 24px;
    border-radius: 8px;
    margin-right: 16px;
    margin-top: 2px;
}

.currency-from-select, .currency-to-select {
    height: 36px;
    width: 320px;
    font-size: 24px;
}

.convert-currency-button-container {
    margin-left: 42px;
    margin-top: 42px;
}

.convert-currency-button {
    height: 36px;
    width: 160px;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
}

.currency-message {
    font-size: 36px;
}